@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
    font-family: "open_sanscondensed_light";
    src: url("/fonts/OpenSans-CondLight-webfont.woff") format("woff2"),
      url("/fonts/OpenSans-CondLight-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  html,
  body {
    overflow: hidden;
    font-size: 16px;
    background-color: #035E4C;
    background-image: url("/img/noise.svg");
    background-repeat: repeat;
  }

  .app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 96px 1fr 180px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

.htmx-swapping {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.htmx-settling {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

  .header {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }

  .main {
    overflow: auto;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

body {
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 150px 1fr 200px;
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.header { grid-area: 1 / 1 / 2 / 10; }
.profile { grid-area: 1 / 10 / 2 / 13; }
.main { grid-area: 2 / 1 / 3 / 10; }
.right-sidebar { grid-area: 2 / 10 / 3 / 13; }
.footer { grid-area: 3 / 1 / 4 / 13; }

/* HTML: <div class="loader"></div> */
.loader {
  opacity: 0;
  margin: -2px auto 0;
  width: 100%;
  position: relative;
  z-index: 1;
  height: 2px;
  background:
   linear-gradient(#B6433C 0 0) 0/0% no-repeat
   #ddd;
  animation: l1 2s infinite linear;
}
@keyframes l1 {
    100% {background-size:100%}
}


.htmx-indicator{
  opacity:0;
  transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
  display: block;
}
.htmx-request {
  opacity: 1;
}


@-webkit-keyframes customRotateInDownLeft {
    0% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity: 0
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1
    }
}

@keyframes customRotateInDownLeft {
    0% {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg) rotate(-6deg);
        opacity: 0
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0) rotate(-6deg);
        opacity: 1
    }
}

.animate__customRotateInDownLeft {
    -webkit-animation-name: customRotateInDownLeft;
    animation-name: customRotateInDownLeft;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom
}

@-webkit-keyframes customRotateInDownRight {
    0% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        opacity: 0
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0) rotate(6deg);
        opacity: 1
    }
}

@keyframes customRotateInDownRight {
    0% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        opacity: 0
    }

    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0) rotate(6deg);
        opacity: 1
    }
}

.animate__customRotateInDownRight {
    -webkit-animation-name: customRotateInDownRight;
    animation-name: customRotateInDownRight;
    -webkit-transform-origin: right bottom;
    transform-origin: right bottom
}
