@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn {
    @apply bg-blue-500 hover:bg-blue-700 text-center py-2 px-4 rounded disabled:opacity-50 text-white;
  }
}

@layer utilities {
  .link {
    @apply text-blue-600 hover:underline;
  }
}

:root {
  --bulma-weight-light: 100;
  --bulma-weight-normal: 300;
}

body {
  --bulma-body-family: SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
}

.grecaptcha-badge { visibility: hidden; }


@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: var(--bulma-dark);
  }

  ::-webkit-scrollbar-track {
    background-color: var(--bulma-grey-darker);
  }
}


/* Scrollbar for WebKit Browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bulma-primary);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: var(--bulma-background);
}

/* Firefox Scrollbar */
* {
  scrollbar-color: var(--bulma-primary) var(--bulma-background);
}


