@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
    font-family: "open_sanscondensed_light";
    src: url("/fonts/OpenSans-CondLight-webfont.woff") format("woff2"),
      url("/fonts/OpenSans-CondLight-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  html,
  body {
    overflow: hidden;
    font-size: 16px;
  }

  .app {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 96px 1fr 180px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .header {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }

  .main {
    overflow: auto;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}
